@media all and (min-width: 768px) {
    body {
        margin: 0;
        font-family: 'Asap', sans-serif;
        background-color: #c7c7c7;
    }
    
    
    .zonaContenido--contactos1 {
        width: auto;
        height: 500px;
        margin-top: 250px;
    
        .zonaContenido--contactos1__txt {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: flex;
            text-align:justify;
            
    
            .titulo--contactos1{
                font-weight: bold;
            }
    
            p{
                font-size: large;
            }
        }
        .img--contactos1{
            height: 25px;
            width: auto;
        }
        .zonaContactos--img{
            a {
            display: flex;
            justify-content: center;
            align-items: center;
                
                .img--flecha {
                    width: 5%;
                }
            }
        }
    }
}



@media all and (max-width: 768px) {
    body {
        margin: 0;
        font-family: 'Asap', sans-serif;
        background-color: #c7c7c7;
    }
    
    
    .zonaContenido--contactos1 {
        width: auto;
        height: 500px;
        margin-top: 250px;
    
        .zonaContenido--contactos1__txt {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: flex;
            text-align:justify;
            
    
            .titulo--contactos1{
                font-weight: bold;
            }
    
            p{
                font-size: large;
            }
        }
        .img--contactos1{
            height: 25px;
            width: auto;
        }
        .zonaContactos--img{
            a {
            display: flex;
            justify-content: center;
            align-items: center;
                
                .img--flecha {
                    width: 5%;
                }
            }
        }
    }
}