.zonaFooter {
    background-color: #000;
    width: auto;
    color: #fff;
    padding: 20px;
    
    bottom: 0;
    .zonaLogo {
        padding: 20px;
        background-color: black;
        height: 200px;
        display: flex;
        color: #fff;

        .imagenLogo {
            background-size: cover;
            background-position: center;
        }
    }

    .zonaInfo {
        img {
            width: 20px;
        }
        margin-left: 25%;
        align-items: center;
        font-size: 1.5em;
    }
    display: flex;
    align-items: center;
}
