@import url('https://fonts.googleapis.com/css2?family=Asap&family=Lato:wght@300&display=swap');
body {
    margin: 0;
    font-family: 'Asap', sans-serif;
}


.zonaNavegacion {
    height: 100%;
    width: 100%;
    background-color: #d9d9d9;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;

    a {
        text-decoration: none;
        color: #000000;
        padding-bottom: 0.5em;
        padding-left: 0.5em;
        padding-right: 0.5em;

    }

    a:hover {
        border-bottom: 3px solid #000000;
        border-radius: 5px;
    }
}

.zonaContenido {
    background-color: #c7c7c7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*display: row;
    grid-template-rows: repeat(2 ,1fr);*/

    .zonaContenido__img--1 {
        img {
            height: 100%;
            max-width: 100%;
        }
    }

    .zonaContenido__img--2 {
        img {
            height: 100%;
            max-width: 100%;
        }
    }

    .zonaContenido__img--3 {
        img {
            height: 100%;
            max-width: 100%;
        }
    }

    .zonaContenido__img--4 {
        img {
            height: 100%;
            max-width: 100%;
        }
    }

    .zonaContenido__img--5 {
        img {
            height: 100%;
            max-width: 100%;
        }
    }

    .zonaContenido__img--6 {
        img {
            height: 100%;
            max-width: 100%;
        }
    }
}