@media all and (min-width: 768px) {
    body {
        margin: 0;
        font-family: "Asap", sans-serif;
    }

    .zonaContenido--sobremi {
        background-color: #c7c7c7;
        display: grid;
        grid-template-columns: repeat(3, 1fr);

        .zonaContenido__img {
            grid-column: 1/3;
            img {
                height: 100%;
                max-width: 100%;
            }
        }

        .zonaContenido__txt {
            grid-column: 3/4;
            justify-content: center;
            flex-direction: column;
            display: flex;
            padding-right: 20px;
            text-align: justify;

            .titulo--sobremi {
                font-weight: bold;
            }

            .texto--sobremi {
                font-size: large;
            }
        }
    }
}

@media all and (max-width: 768px) {
    body {
        margin: 0;
        font-family: "Asap", sans-serif;
    }

    .zonaContenido--sobremi {
        background-color: #c7c7c7;

        .zonaContenido__img {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: flex;
            img {
                height: 100%;
                max-width: 100%;
            }
        }

        .zonaContenido__txt {
            justify-content: center;
            align-items: center;
            flex-direction: column;
            display: flex;
            padding-left: 20px;
            padding-right: 20px;
            text-align: justify;

            .titulo--sobremi {
                font-weight: bold;
            }

            .texto--sobremi {
                font-size: large;
            }
        }
    }

}
