<footer class="zonaFooter">
    <div class="zonaLogo">
        <img
            class="imagenLogo"
            src="./assets/images/Miguel Salvado.png"
            alt="Miguel Salvado"
        />
        &copy;
    </div>
    <div class="zonaInfo">
        <p>SÍGUEME EN MIS REDES:</p>
        <p>
            <img
                src="./assets/images/instagram.png"
                alt="Ig"
            />@miguelsalvadofotografo
            <img
                src="./assets/images/facebook.png"
                alt="Ig"
            />@miguelsalvadofotografo
        </p>
    </div>
</footer>
