body {
    margin: 0;
}
.zonaHeader {
    background-color: black;
    height: 1200px;
    justify-content: center;
    align-items: center;
    display: flex;

    .imagenLogo {
        background-size: cover;
        background-position: center;
    }
}

.zonaNavegacion {
    height: 100%;
    width: 100%;
    background-color: #d9d9d9;

    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

.zonaContenido {
    background-color: #c7c7c7;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /*display: row;
    grid-template-rows: repeat(2 ,1fr);*/

    .zonaContenido__img--1 {
        img {
            height: 100%;
            max-width: 100%;
        }
    }

    .zonaContenido__img--2 {
        img {
            height: 100%;
            max-width: 100%;
        }
    }

    .zonaContenido__img--3 {
        img {
            height: 100%;
            max-width: 100%;
        }
    }

    .zonaContenido__img--4 {
        img {
            height: 100%;
            max-width: 100%;
        }
    }

    .zonaContenido__img--5 {
        img {
            height: 100%;
            max-width: 100%;
        }
    }

    .zonaContenido__img--6 {
        img {
            height: 100%;
            max-width: 100%;
        }
    }
}
